{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Taitle of the document</title>
    <!-- MDC Documentation: https://material.io/develop/web/ -->
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="{% static 'blog/index.css' %}" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="{% static 'blog/index.js' %}"></script>
</head>

<body>
    <div class="page-container">
        <div class="headline-box-container">
            <div class="headline-container">
                <span class="mdc-typography--headline1">Hi | TOKACHUERS</span>
            </div>
            <div class="headline-action-container">
                <a href="/api/posts"  class="round-button mdc-button--raised mdc-button">Posts API Endpoint</a>
                <a href="/api/users" class="round-button mdc-button--raised mdc-button">Users API Endpoint</a>
                <a href="/admin"  class="round-button mdc-button--outlined  mdc-button">ADMIN</a>
            </div>
        </div>
    </div>
</body>

</html>